/*
https://docs.nestjs.com/exception-filters#custom-exceptions
*/

import { HttpException, HttpStatus } from '@nestjs/common';

export class {{ Name }}Exception extends HttpException {
  constructor() {
    super('{{ Name }}', HttpStatus.I_AM_A_TEAPOT);
  }
}
